pk4-backup/Shoib work items/zerocode to php/loaddataEntity.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapheader.ibm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:urn="http://soapheader.ibm.com" xmlns:impl="http://soapheader.ibm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://soapheader.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
	   <element name="loaddata"> 
	    <complexType> 
	     <sequence>
	     <element name="objects" minOccurs="1" maxOccurs="1" type="urn:requestobjects" />
	     </sequence>
	    </complexType>
	   </element>
	   <complexType name="requestobjects">
		<sequence>
			<element minOccurs="1" maxOccurs="1" name="baseobject" type="urn:bobjects" />
			<element minOccurs="0" maxOccurs="unbounded" name="addorlinkobject" type="urn:alobjects"  />
		</sequence>
	   </complexType> 	    
	   <complexType name="bobjects">
		<sequence>
			<element minOccurs="1" maxOccurs="1" name="entityname" type="xsd:string" />
			<element minOccurs="1" maxOccurs="1" name="condition" type="xsd:string" />
			<element minOccurs="1" maxOccurs="1" wsdl:arrayType="xsd:string[]" name="entitycols" />
		</sequence>
	   </complexType> 
	   <complexType name="alobjects">
		<sequence>
			<element minOccurs="1" maxOccurs="1" name="entityname" type="xsd:string" />
			<element minOccurs="1" maxOccurs="1" name="condition" type="xsd:string" />
			<element minOccurs="1" maxOccurs="unbounded" wsdl:arrayType="xsd:string[]" name="entitycols" />
		</sequence>
	   </complexType>
	   <element name="apiheader"> 
	    <complexType> 
	     <sequence>
	      <element name="sessionid" minOccurs="1" maxOccurs="1" type="xsd:string" />
	      <element name="requestortype" minOccurs="1" maxOccurs="1" type="xsd:string" />
	      <element name="requestorid" minOccurs="1" maxOccurs="1" type="xsd:string" />
	      <element name="objectname" minOccurs="1" maxOccurs="1" type="xsd:string" />
	      <element name="verb" minOccurs="1" maxOccurs="1" type="xsd:string" />
	      <element name="ifduplicate" minOccurs="1" maxOccurs="1" type="xsd:string" />
	     </sequence>
	    </complexType>
	   </element>
   </schema>
 </wsdl:types>
  <wsdl:message name="getLoaddataRequest">
    <wsdl:part name="parameters" element="urn:loaddata"/>
    <wsdl:part name="request_header" element="urn:apiheader"/>
  </wsdl:message>
  <wsdl:message name="getLoaddataResponse">
    <wsdl:part name="result" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="ImpelService">
    <wsdl:operation name="loaddata">
      <wsdl:input name="getLoaddataRequest" message="urn:getLoaddataRequest"/>
      <wsdl:output name="getLoaddataResponse" message="urn:getLoaddataResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImpelServiceSoapBinding" type="urn:ImpelService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="loaddata">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getLoaddataRequest">
        <wsdlsoap:header message="urn:getLoaddataRequest" part="request_header" use="literal"/>
        <wsdlsoap:body use="literal" parts="parameters"/>
      </wsdl:input>
      <wsdl:output name="getLoaddataResponse">
        <wsdlsoap:body use="literal" parts="result"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImpelServiceService">
    <wsdl:port name="ImpelService" binding="urn:ImpelServiceSoapBinding">
      <wsdlsoap:address location="http://sys.impelcrm.in:81/soapapi/loaddata/loaddataE.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>